.header {
    text-align: center;
    background-image: url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
}

.header-title {
    padding: 100px;



}

.header-title h1 {
    font-size: 70px;
    color: rgb(35, 34, 34);
    margin: 1px;
}

.header-title h4 {
    font-size: 30px;
    color: rgb(216, 212, 203);
}