.header {
    text-align: center;
    background-image: url("../resources/Banner\ Image.png");
    filter: brightness(0.6);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    margin: 20px;
}

.header-title {
    padding: 100px;



}

.header-title h1 {
    font-size: 100px;
    color: white;
    margin: 1px;
}

.header-title h4 {
    font-size: 30px;
    color: rgb(216, 212, 203);
}

.deals {
    text-align: center;
    margin: 20px;
}

.deals h1 {
    font-size: 120px;
    color: rgb(231, 78, 12);
}

.deals p {
    font-size: 40px;
    color: rgb(121, 50, 50);
}

.deals h4 {
    font-size: 80px;
    color: rgb(20, 19, 19);
    margin-top: 1px;
    margin-bottom: 10px;
}

.deals img {
    margin-left: 80px;
    margin-top: 1px;
    margin-bottom: 200px;
}

.midnight-party {
    background-image: url("../resources/Vectorrr.png");
    filter: brightness(0.6);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    margin: 20px;

}

.midnight-party-info {
    color: rgb(226, 215, 215);
    width: 50%;
    margin-left: 100px;
    margin-top: 150px;
    padding: 20px;
}

.midnight-party-info h1 {
    margin: 1px;
    font-size: 50px;
}

.midnight-party-logo {
    width: 50%;
    margin-left: 150px;
    margin-top: 100px;
    padding-left: 80px;
}

.btn {
    color: rgb(235, 221, 221);
    background-color: black;
    border: none;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 20px;
    padding: 10px;
}

.coming-soon {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.new-best-offer {
    margin-top: 1px;
    margin-left: 10px;
    padding: 50px;
}

.happy-new-year {
    margin: 20px;
    padding: 20px;
}

.coming-soon-image {

    border: 10px solid red;
    border-radius: 300px;
    padding: 20px;
    margin: 50px;
}

.happy-new-year h2 {
    color: red;
    font-size: 50px;
}

.new-best-offer h3 {
    font-size: 50px;
    margin-top: 1px;
}

.new-best-offer h6 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 1px;
    color: red;
}

.portfolio {
    margin: 10px;

    padding: 10px;
}

.portfolio img {
    padding: 5px;


}

.portfolio img:hover {
    background-color: rgb(127, 95, 95);
    border-radius: 20px;
    filter: brightness(0.8);

}

.best-gifts {
    margin-left: 20px;
    padding: 50px;
    margin-right: 500px;
}

.best-gifts h3 {
    font-size: 50px;
    margin-top: 1px;
}

.best-gifts h6 {
    font-size: 20px;
    color: red;
    font-weight: 100;
    margin-bottom: 1px;
}

.frist-catalog {
    margin-left: 50px;
}

.second-catalog {
    margin-left: 50px;
}

.subscribe-newsletter {
    background-color: rgb(237, 224, 224);
    text-align: center;
    margin-right: 45px;
    margin-left: 70px;
    margin-top: 100px;
    padding: 150px;
    border-radius: 20px;
}

.subscribe-newsletter h3 {
    font-size: 40px;
}

.subscribe {
    height: 40px;
    font-size: 400;
    margin-left: 0px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: red;
}

#email {
    height: 40px;
    width: 200px;
    margin-right: 0px;
    border: none;
    border-radius: 10px;
}

.footer {
    color: white;
    background-color: black;
    width: 100%;
    height: 450px;
    margin-top: 100px;
    padding: 5px;

}

.foot {
    margin: 100px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.adress {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;


}

.adress h5 {
    margin: 5px;
}

.phone-number {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.phone-number h5 {
    margin: 5px;
}

.social-media {
    display: flex;
    justify-content: center;
    border-top: solid rgb(26, 25, 25);
    border-bottom: solid rgb(26, 25, 25);
}

.icons {
    margin: 20px;
}

.copy-right {
    display: flex;
    justify-content: space-between;
}

.copy-right button {
    color: white;
    border: none;
    background-color: black;
}